<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar fondo">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar fondo">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav fondo">
            <ul id="sidebarnav" class="fondo">
                <li class="user-profile fondoscurop">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../../../assets/img/usuarios/default.png" alt="user" />
                      <span class="hide-menu">AGREMIADO </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()"> Salir</a></li>
                    </ul>
                </li>
                 <li class="fondoscurop"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">INFORMACION <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Datos personales </a></li>
                        <li><a href="#">Datos de vehiculos</a></li>
                        <li><a href="#">Estado de la cuenta</a></li>
                        <li><a href="#">Pagos</a></li>
                    </ul>
                </li>
                <li class="fondoscurop"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu"> <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                  <ul aria-expanded="false" class="collapse">
                  </ul>
              </li>
              <li class="fondoscurop"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu"> <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                <ul aria-expanded="false" class="collapse">
                </ul>
            </li>
            <li class="fondoscurop"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu"> <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
